
* {box-sizing: border-box;}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-family: $fontFamily;
}
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

  .header01 {
        height: 90px;
        display: flex;
        align-items: center;
      
        p {
            font-size: 15px;
        }
        span {
            color: red;
      }
      
        .logo {
            padding-right: 440px;
        }
        //cart and paragraph//
        .cart {
            padding-left: 25px;
            padding-right: 12px;
        }
        
        //buttons//
        .l_btn {
            width: 70px;
            height: 30px;
            background-color: #8bc34a;
            border-radius: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            //Margin//
            margin:0 10px;
            font-size: 12px;
        }
        .r_btn {
            width: 70px;
            height: 30px;
            background-color: #e74c3c;
            border-radius: 3px; 
            display: flex;
            align-items: center;
            justify-content: center;
            color:#fff;
            font-size: 12px;
        }
        div a {
            color:#fff;
        }
        
    }

    
    .background-item01 {
        background-color: #263238;
    }
    .header02 {
        display: flex;
        height: 60px;
        
        .nav-menu {
            display: flex;

            .nav-menu_item {
                padding-right: 30px;
                margin-top: 20px;
                
                a {
                    color:#fff;
                    font-size: 14px;
                }
            }
        }
    }

    
    .background-item02 {
        background: url(../images/banner.jpg);
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
    }
    
    .header03 {
        height: 540px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        
        .headlines {
            display: flex;
            flex-direction: column;
            justify-content: center;  
            align-items: center;

            h1 {
                 font-size: 48px;
                 padding-bottom: 20px;
                 color: #fff;     
            }
             p {
                 font-size: 20px;
                 padding-bottom: 60px;
                 color: #fff;
                }
            }
            
        form {
            position: relative;
            
                
            input {
                 width: 640px;
                 height: 42px;
                 padding-left: 10px;
                 border-radius: 5px;
                 outline: none;
                 background:#fff;
                 color:#fff;
                }
            button {
                 position: absolute; 
                 background: none;
                 top: 0;
                 right: 0px;
                 width: 42px;
                 height: 42px;
                 border: none;
                 border-radius: 0 5px 5px 0;
                 cursor: pointer;
                }
            button:before {
                content: "\f002";
                font-family: FontAwesome;
                font-size: 17px;
                color: #78909c;
                font-weight: lighter;
            }
        }        
    }
