$fontSize18: 18px; //числовое
$letter-spacing: 10px;
$white: #fff; //цвет
$whitegray: #fefefe; //цвет
$borderWhite: #ececec; //цвет
$bgColor: #ccc;//цвет
$black: #111111; //цвет
$blackzero: #000000; //цвет
$gray: #777777; //цвет
$graywhite: #999999; //цвет
$fontFamilyDosisregular: 'dosisregular';//текст
$fontFamilyDosislight: 'dosislight';//текст
$fontFamilyOpensanslight: 'open_sanslight';//текст
$fontFamilyOpensansregular: 'open_sansregular';//текст

