$fontSize14: 14px; //числовое
$fontSize20: 15px; //числовое
$fontSize16: 16px; //числовое
$fontSize20: 20px; //числовое
$fontSize30: 30px; //числовое
$fontSize36: 36px; //числовое
$letter-spacing: 10px;
$red: #e74c3c; //цвет
$green: #8bc34a; //цвет
$yellow: #ffa726; //цвет
$orange: #ef6c00;//цвет
$black: #263238; //цвет
$bgmain: #f4f6f5; //цвет
$gray: #777777; //цвет
$graywhite: #999999; //цвет
$fontFamilyDosisregular: 'dosisregular';//текст
$fontFamilyDosislight: 'dosislight';//текст
$fontFamilyOpensanslight: 'open_sanslight';//текст
$fontFamilyOpensansregular: 'open_sansregular';//текст

