@import "reset.scss";
@import "variables.scss";
@import "font-awesome.scss";
@import "fonts.scss";
@import "header.scss";
@import "footer.scss";
@import "home.scss";
@import "withdrawal.scss";
@import "contact.scss";
@import "../fonts/f-awesome/scss/font-awesome.scss";

.container {
	max-width: 1170px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	
}

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }




@import "media.scss"; // всегда в конце

