<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="container">
        <div class="header01">
           <div class="logo">
                <img src="../../images/logo.png">
            </div>    
            <p>
                    <span>
                        Need help?
                    </span>
                    talk an to expert: +61 3 8376 6284
                </p>
                <div class="cart">
                    <img src="../../images/cart.png">
                </div>
                    <div class="l_btn"><a href="#">Login</a></div>
                    <div class="r_btn"><a href="#">Register</a></div>    
                </div>
            </div>
        <!--Вторая Секция-->
        <div class="background-item01">
        <div class="container">
        <div class="header02">
            <nav>
                <ul class="nav-menu">
                    <li class="nav-menu_item"><a href="index.html" class="nav-menu__link">Home</a></li>
                    <!-- /.nav-menu__item -->
                    <li class="nav-menu_item"><a href="" class="nav-menu__link">About</a></li>
                    <!-- /.nav-menu__item -->
                    <li class="nav-menu_item"><a href="" class="nav-menu__link">Wordpress</a></li>
                    <!-- /.nav-menu__item -->
                    <li class="nav-menu_item"><a href="" class="nav-menu__link">Jomla</a></li>
                    <!-- /.nav-menu__item -->
                    <li class="nav-menu_item"><a href="" class="nav-menu__link">PSD</a></li>
                    <!-- /.nav-menu__item -->
                    <li class="nav-menu_item"><a href="" class="nav-menu__link">Plugins</a></li>
                    <!-- /.nav-menu__item -->
                    <li class="nav-menu_item"><a href="" class="nav-menu__link">Components</a></li>
                    <!-- /.nav-menu__item -->
                    <li class="nav-menu_item"><a href="" class="nav-menu__link">Pages</a></li>
                    <!-- /.nav-menu__item -->
                    <li class="nav-menu_item"><a href="" class="nav-menu__link">Contact</a></li>
                    <!-- /.nav-menu__item -->
                    <li class="nav-menu_item"><a href="" class="nav-menu__link">Help</a></li>
                </ul>
            </nav>
        </div>
        </div>
        </div>
        <!--Третья Секция-->
        <div class="background-item02">
        <div class="container">
        <div class="header03">
                <div class="headlines">
                    <h1>Welcome to foxtar marketplace</h1>
                    <p>Premium WordPress themes, web templates and Many More... </p>
                </div>
                <form>
                    <input type="text" placeholder="Search Your Keywords . . .">
                    <button type="submit"></button>
                  </form>
            </div>
        </div>
        </div>    
    </header>
</body>
</html>  