<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product</title>
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <header id="header">
        
    </header>
    <main>
        <section class="section_1">
            <div class="container">
                <div class="breadcrumbs">
                    <span> Home  -  WordPress  -</span>   GT Builder Construction
                </div>
                <div class="wrap">
                    <div class="content">
                        <div class="img_wrap">
                            <img src="/app/images/square.png" alt="">
                        </div>
                        <h3>GTBuilder - Construction & Building WordPress Theme</h3>
                        <p class="main_text">Bmply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived noning essentially unchanged.</p>
                        <div class="button_wrap">
                            <a class="btn_1" href="">Like Preview</a>
                            <a class="btn_2" href="">Screenshots</a>
                            <a class="btn_3" href="">Documentation</a>
                            <a class="social_fb" href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a class="social_tw" href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a class="social_in" href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a class="social_pin" href=""><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                        </div>
                        <div class="wrap_tab">
                            <ul class="tabs">
                                <li>
                                    <input type="radio" name="tabs" id="tab-1" checked>
                                    <label for="tab-1">Item Features</label>
                                    <div class="tab-content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i><span> Printing and typesetting industry</span></a></li>
                                            <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i><span>Bhen an unknown printe</span> </a></li>
                                            <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i><span>Handard dummy text</span> </a></li>
                                            <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i><span> Desktop publishing software</span></a></li>
                                            <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i><span>Bhen an unknown printe</span></a></li>
                                        </ul>
                                        <ul>
                                            <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i><span>Printing and typesetting industry</span></a></li>
                                            <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i><span>Bhen an unknown printe</span></a></li>
                                            <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i><span>Handard dummy text</span></a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <input type="radio" name="tabs" id="tab-2">
                                    <label for="tab-2">Comments</label>
                                    <div class="tab-content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i><span> Printing and typesetting industry</span></a></li>
                                            <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i><span>Bhen an unknown printe</span> </a></li>
                                            <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i><span>Handard dummy text</span> </a></li>
                                            <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i><span> Desktop publishing software</span></a></li>
                                            <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i><span>Bhen an unknown printe</span></a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <input type="radio" name="tabs" id="tab-3">
                                    <label for="tab-3">Reviews</label>
                                    <div class="tab-content">
                                        Excepteur sint occaecat cupidatat non
                                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </div>
                                </li>
                                <li>
                                    <input type="radio" name="tabs" id="tab-4">
                                    <label for="tab-4">Support</label>
                                    <div class="tab-content">
                                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores magnam nostrum totam, et consequuntur iure at atque pariatur, autem fuga numquam tempora temporibus eaque. Officiis et assumenda tenetur nesciunt numquam?
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="wrap_more_products">
                            <h4>More Product by PsdBosS</h4>
                        </div>
                        <div class="product_example">
                            <div class="example">
                                <div class="img_wrap3">
                                    <img src="./images/square3.png" alt="">
                                </div>
                                <div class="content_product">
                                    <p class="name_product">Grand Bullet - Dance</p>
                                    <p class="psd_template">PSD Template</p>
                                    <p class="cost">$12</p>
                                </div>
                            </div>
                            <div class="example">
                                <div class="img_wrap3">
                                    <img src="./images/square3.png" alt="">
                                </div>
                                <div class="content_product">
                                    <p class="name_product">Grand Bullet - Dance</p>
                                    <p class="psd_template">PSD Template</p>
                                    <p class="cost">$59</p>
                                </div>
                            </div>
                            <div class="example">
                                <div class="img_wrap3">
                                    <img src="./images/square3.png" alt="">
                                </div>
                                <div class="content_product">
                                    <p class="name_product">Grand Bullet - Dance</p>
                                    <p class="psd_template">PSD Template</p>
                                    <p class="cost">$48</p>
                                </div>
                            </div>
                            <div class="example">
                                <div class="img_wrap3">
                                    <img src="./images/square3.png" alt="">
                                </div>
                                <div class="content_product">
                                    <p class="name_product">Grand Bullet - Dance</p>
                                    <p class="psd_template">PSD Template</p>
                                    <p class="cost">$18</p>
                                </div>
                            </div>
                            <div class="example">
                                <div class="img_wrap3">
                                    <img src="./images/square3.png" alt="">
                                </div>
                                <div class="content_product">
                                    <p class="name_product">Grand Bullet - Dance</p>
                                    <p class="psd_template">PSD Template</p>
                                    <p class="cost">$29</p>
                                </div>
                            </div>
                            <div class="example">
                                <div class="img_wrap3">
                                    <img src="./images/square3.png" alt="">
                                </div>
                                <div class="content_product">
                                    <p class="name_product">Grand Bullet - Dance</p>
                                    <p class="psd_template">PSD Template</p>
                                    <p class="cost">$18</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aside">
                        <div class="content_wrap">
                            <h4>Product Price</h3>
                            <hr>
                            <div class="borderForm">
                                <p>$59.00</p>
                                <form action="">
                                    <fieldset>
                                        <select class="select" name="Choose" id="">
                                            <option value="Regular">Regular</option>
                                            <option value="non Regular">non Regular</option>                        
                                        </select>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="product_button">  
                                <a class="product_cart" href=""><i class="fa fa-shopping-cart" aria-hidden="true"></i> <p>Add To Cart</p> </a>
                                <a class="product_fav" href=""><i class="fa fa-heart-o" aria-hidden="true"></i><p>Add To Favourites</p></a>
                                <a class="product_buy" href="">Buy Now</a>
                            </div>
                        </div>
                        <div class="content_wrap">
                            <h4>Product Author</h3>
                            <hr>
                            <div class="img_wrap2">
                                <img src="./images/square2.png" alt="">
                                <div class="content_2">
                                    <h5>PsdBoss</h5>
                                    <a class="vProfile" href="">View Profile</a>
                                </div>
                            </div>
                            <div class="img_shield">
                                <img src="/app/images/shield1.png" alt="">
                                <img src="/app/images/shield1.png" alt="">
                                <img src="/app/images/shield1.png" alt="">
                                <img src="/app/images/shield1.png" alt="">
                                <img src="/app/images/shield1.png" alt="">
                            </div>
                        </div>
                        <div class="content_wrap">
                            <div class="wrap_sales">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i> <span>05</span> <p>Sales</p>
                            </div>    
                        </div>
                        <div class="content_wrap">
                            <h4>Product Information</h3>
                            <hr>
                            <div class="wrap_info">
                                <p>Released On: <span>1 January, 2016</span></p>
                                <p>Last Update: <span>20 April, 2016</span> </p>
                                <p>Download: <span>613</span></p>
                                <p>Version: <span>1.1</span></p>
                                <p>Compatibility: <span>WordPress 4+</span></p>
                                <p >Compatibility Browsers: <br> <br> <span class="line-height">IE9, IE10, IE11, Firefox, Safari, <br> Opera, Chrome</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>    
    </main>

</body>

</html>