<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/main.css">
    <title>Withdrawals</title>
</head>

<body>
    <div class="wd-section">
        <div class="top-side container">
            <p><span class="home-color">Home -</span><span class="wd-color">Withdrawals</span></p>
        </div>
        <div class="container">
            <div class="left">
                <div class="head">
                    <h2>Withdrawals Earnings</h2>
                </div>
                <form>
                    <div class="form-box">
                        <p>Amount to Withdraw ($2000.00 Maximum)<span class="star">*</span></p>
                        <input type="text" placeholder="Enter the amount you want to withdraw...">
                    </div>
                    <div class="form-box">
                        <p>Choose your Withdraw Method<span class="star">*</span></p>
                        <select>
                            <option value="">Select your card</option>
                            <option value="">1</option>
                            <option value="">1</option>
                        </select>
                    </div>
                    <div class="form-box">
                        <p>Your Account Name<span class="star">*</span></p>
                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                        <select>
                            <option value="">Select your card</option>
                            <option value="">1</option>
                            <option value="">1</option>
                        </select>
                    </div>
                    <div class="form-box">
                        <p>Confirm Your Password<span class="star">*</span></p>
                        <input type="text" placeholder="Select your card">
                    </div>
                    <button>Request Withdrawal</button>
                </form>
            </div>
            <div class="right">
                <div class="head-2">
                    <h2>Withdrawal History</h2>
                </div>
                <div class="transactions">
                    <div class="pending">
                        <p>Dec 26th, 2016</p>
                        <p>Psdboss@paypal.com</p>
                        <p>$200</p>
                        <p>Pending</p>
                    </div>
                    <div class="paid white-bg">
                        <p>Dec 26th, 2016</p>
                        <p>Psdboss@paypal.com</p>
                        <p class="ammount">$200</p>
                        <p class="approved">Paid</p>
                    </div>
                    <div class="paid">
                        <p>Dec 26th, 2016</p>
                        <p>Psdboss@paypal.com</p>
                        <p class="ammount">$100</p>
                        <p class="approved">Paid</p>
                    </div>
                    <div class="paid white-bg">
                        <p>Dec 26th, 2016</p>
                        <p>Psdboss@paypal.com</p>
                        <p class="ammount">$200</p>
                        <p class="approved">Paid</p>
                    </div>
                    <div class="paid">
                        <p>Dec 26th, 2016</p>
                        <p>Psdboss@paypal.com</p>
                        <p class="ammount">$200</p>
                        <p class="approved">Paid</p>
                    </div>
                    <div class="paid white-bg">
                        <p>Dec 26th, 2016</p>
                        <p>Psdboss@paypal.com</p>
                        <p class="ammount">$100</p>
                        <p class="approved">Paid</p>
                    </div>
                    <div class="paid">
                        <p>Dec 26th, 2016</p>
                        <p>Psdboss@paypal.com</p>
                        <p class="ammount">$150</p>
                        <p class="approved">Paid</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>